/* General body styling */
body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
}

/* Header styling */
header {
    text-align: center;
    position: sticky;
    width: 100vw;
    height: 100px;
}

.ocicon {
    border-radius: 1em;
    background-color: rgba(255, 254, 254, 0.6);
    margin: 0em;
    height: 50px;
}
.ocicon:hover {

    border-radius: .5em;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#searchInput {
    width: 75vw;
    align-items: center;
}

.nav {
    text-align: left;
}

main {
    margin-top: 10px;
    padding-bottom: 120px;
    position: relative;
   
}

/* Table styling */
table {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
}

th {
    background-color: #b72b2b;
    color: white;
    border-color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #ffdddd;
}

tr:hover {
    background-color: #f1f1f1;
}

input[type="text"],
input[type="date"],
input[type="file"],
input[type="email"] {
    width: 60px;
    padding: 2px;
    margin: 5px 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #a01919;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #b91e1e;
}


footer {
    text-align: center;
    padding: 5px 0;
    color: rgb(0, 0, 0);
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}


aside.right {
    padding: 2px;
    background: rgba(112, 6, 6, 0.5);
    border-radius: 4px;
}


#form_container {
    position: sticky;
    bottom: 70px;
    background-color: white;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

#entry_form label {
    margin: 2px;
}

#entry_form input,
#entry_form button {
    margin: 2px;
}
.dropbtn {
    background-color: #4c0606;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 20px;
    border-radius: .5em;
    cursor: pointer;
}
